body {
    font-family: 'Segoe UI', Arial, sans-serif;   
    background: #e0c9a1;
    margin: 0;
}

.header {
    background: linear-gradient(to right, #364522, #355b35);
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    background: #364522;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background: #355b35;
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.content {
    width: 70%;
    background: white;
    padding: 20px;
}

.content, .sidebar {
    border-radius: 10px;
}

.content {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
    width: 30%;
    background: ##fff9e8;
    padding: 20px;
}

.footer {
    text-align: center;
    background: #364522;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.gambar {
    width: 60%;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}

.gambarku {
    width: 60%;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}

button {
    background: #364522;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background: #355b35;
}
